<a href="https://colab.research.google.com/github/rghimre3/INFO5502-Summer2022/blob/main/Extracting_Tweets_for_Sentiment_Analysis_Ramesh_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We are using [snscrape]('https://github.com/JustAnotherArchivist/snscrape') python library to extract tweets from Twitter. Let's install the snscrape from github.

In [ ]:
!pip3 install git+https://github.com/JustAnotherArchivist/snscrape.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to /tmp/pip-req-build-wqwr1nq4
  Running command git clone --filter=blob:none --quiet https://github.com/JustAnotherArchivist/snscrape.git /tmp/pip-req-build-wqwr1nq4
  Resolved https://github.com/JustAnotherArchivist/snscrape.git to commit 3dd9c28e31b8babeb2a187fbae994d9717ded168
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from snscrape==0.6.2.20230321.dev3+g3dd9c28) (4.9.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from snscrape==0.6.2.20230321.dev3+g3dd9c28) (3.10.7)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from snscrape==0.6.2.20230321.dev3+g3dd9c28) (4.11.2)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.9/dist-packages (from snscrape==0.6.2.20230321.dev3+g3dd9c28) (2.27.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->snscrape==0.6.2.20230321.dev3+g3dd9c28) (2.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape==0.6.2.20230321.dev3+g3dd9c28) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape==0.6.2.20230321.dev3+g3dd9c28) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape==0.6.2.20230321.dev3+g3dd9c28) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape==0.6.2.20230321.dev3+g3dd9c28) (3.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape==0.6.2.20230321.dev3+g3dd9c28) (1.7.1)
Building wheels for collected packages: snscrape
  Building wheel for snscrape (pyproject.toml) ... done
  Created wheel for snscrape: filename=snscrape-0.6.2.20230321.dev3+g3dd9c28-py3-none-any.whl size=72466 sha256=e5d4628bdbc99091e7146a620761f56141d11b1a475202018c4733b372c689f2
  Stored in directory: /tmp/pip-ephem-wheel-cache-2keo7hdu/wheels/1a/ba/e2/39fa3a11802c4a622f2efc8be3f5ff854481051d0b4c95c1fd
Successfully built snscrape
Installing collected packages: snscrape
Successfully installed snscrape-0.6.2.20230321.dev3+g3dd9c28

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# import necessary packages
import snscrape.modules.twitter as sntwitter
import pandas as pd
import itertools
import ast
import datetime

To extract tweets we have created list of hash tags and locations related to Omicron Vaccination & the main cities (capital) in United States.
We will extract the tweets based on keywords & locations provided.

Read the csv file that contains locations for scraping tweets.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Lilly Paru/locations.csv',sep = ',')

In [ ]:
df

         locations
0           Austin
1    San Francisco
2        New York
3          Seattle
4          Chicago
..             ...
99      Birmingham
100    Chattanooga
101     Greensboro
102       Lakeland
103          Akron

[104 rows x 1 columns]

#### Query by Text Search

The code below will scrape for 1000 tweets since February 24th, 2022 for each keyword/hashtags by a text search then provide a CSV file with Pandas.

In [ ]:
location_list = df.locations.tolist()
hash_tags_list = ['#Omicron', '#Omicron','#VaccinesWork','#COVID19Vaccination','#vaccination','#Vaccination',
                  '#OmicronVaccination','#CovidVaccination','#CovidVaccines','covid-19 booster',
                  '#covid-19 booster','Omicron Vaccination','Omicron','Vaccination']

In [ ]:
# Creating list to append tweet data to
tweets_list = []

for location in location_list:
    
    for hash_tag in hash_tags_list:
    
        # Setting variables to be used below
        maxTweets = 500
        df = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
        '{} near:"{}" within:15km since:2022-03-01 until:2023-03-31'.format(hash_tag, location)).get_items(), maxTweets))
        tweets_list.append(df)

In [ ]:
# Concatenate list of tweets dataframes
df_concat = pd.concat(tweets_list)

In [ ]:
# df_concat.to_csv('/content/drive/MyDrive/Lilly Paru/tweets_df_15km.csv')

In [ ]:
# df_concat = pd.read_csv('/content/drive/MyDrive/Lilly Paru/tweets_df_15km.csv')

Let's look at the few rows of the extracted data.

In [ ]:
df_concat.shape

(8539, 30)

In [ ]:
df_concat.head()

,Unnamed: 0,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe
0,0,https://twitter.com/NDauterive/status/16414761...,2023-03-30 16:22:55+00:00,In the newest issue of @unfoundation's Unite f...,In the newest issue of @unfoundation's Unite f...,1641476105591828492,"{'username': 'NDauterive', 'id': 72915395, 'di...",0,0,0,...,NaN,NaN,"[{'username': 'unfoundation', 'id': 39511166, ...",NaN,NaN,"['Health', 'genderequity', 'malaria', 'Vaccine...",NaN,NaN,7.0,NaN
1,1,https://twitter.com/TrevorTravels/status/16147...,2023-01-15 19:41:14+00:00,"But also, I’m a data analyst for a tech compan...","But also, I’m a data analyst for a tech compan...",1614709311980068864,"{'username': 'TrevorTravels', 'id': 2293578750...",1,0,0,...,NaN,NaN,NaN,"{'longitude': -97.928935, 'latitude': 30.127892}","{'id': 'c3f37afa9efcf94b', 'fullName': 'Austin...","['TrumpTaxReturns', 'CovidIsntOver', 'Vaccines...",NaN,NaN,197.0,NaN
2,2,https://twitter.com/KinaryMagic/status/1510261...,2022-04-02 14:24:27+00:00,Wait? Is he talking about natural immunity? Wh...,Wait? Is he talking about natural immunity? Wh...,1510261884322209794,"{'username': 'KinaryMagic', 'id': 2747865534, ...",0,0,0,...,NaN,NaN,NaN,"{'longitude': -97.6646105, 'latitude': 30.420118}","{'id': 'b5613ac46d587422', 'fullName': 'Pfluge...","['COVID19', 'COVIDIOTS', 'VaccinesWork', 'grea...",NaN,NaN,NaN,NaN
3,0,https://twitter.com/RhondaMcMahon24/status/150...,2022-03-14 18:28:51+00:00,@BeTrueVoteBlue1 No thanks. @pfizer lost a leg...,@BeTrueVoteBlue1 No thanks. @pfizer lost a leg...,1503438023182196737,"{'username': 'RhondaMcMahon24', 'id': 13086665...",1,0,0,...,1.503381e+18,"{'username': 'BeTrueVoteBlue1', 'id': 12965406...","[{'username': 'BeTrueVoteBlue1', 'id': 1296540...","{'longitude': -97.928935, 'latitude': 30.127892}","{'id': 'c3f37afa9efcf94b', 'fullName': 'Austin...","['Pfizer', 'CovidVaccination', 'CovidVaccine']",NaN,NaN,NaN,NaN
4,1,https://twitter.com/RhondaMcMahon24/status/150...,2022-03-14 16:13:32+00:00,No thanks. @pfizer lost a legal challenge and ...,No thanks. @pfizer lost a legal challenge and ...,1503403968612999174,"{'username': 'RhondaMcMahon24', 'id': 13086665...",0,1,1,...,NaN,NaN,"[{'username': 'pfizer', 'id': 56488059, 'displ...","{'longitude': -97.928935, 'latitude': 30.127892}","{'id': 'c3f37afa9efcf94b', 'fullName': 'Austin...","['Pfizer', 'CovidVaccination', 'CovidVaccine']",NaN,NaN,NaN,NaN

In [ ]:
# Drop the missing values in place column
df_concat = df_concat.dropna(subset=['place'])
df_concat = df_concat.reset_index(drop=True)

In [ ]:
# Extract user details from user column
df_concat['GeoCityProvince'] =  df_concat['place'].apply(lambda x: ast.literal_eval(x)['name'])
df_concat['GeoCountry'] = df_concat['place'].apply(lambda x: ast.literal_eval(x)['country'])
df_concat['AuthorID'] =  df_concat['user'].apply(lambda x: eval(x)['id'])
df_concat['UserName'] =  df_concat['user'].apply(lambda x: eval(x)['username'])
df_concat['CreatedAccountAt'] =  df_concat['user'].apply(lambda x: eval(x)['created'])
df_concat['FollowerCount'] =  df_concat['user'].apply(lambda x: eval(x)['followersCount'])
df_concat['FollowingCount'] = df_concat['user'].apply(lambda x: eval(x)['friendsCount'])
df_concat['TweetCount'] =  df_concat['user'].apply(lambda x: eval(x)['statusesCount'])

In [ ]:
df_concat.head()

,Unnamed: 0,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,viewCount,vibe,GeoCityProvince,GeoCountry,AuthorID,UserName,CreatedAccountAt,FollowerCount,FollowingCount,TweetCount
0,1,https://twitter.com/TrevorTravels/status/16147...,2023-01-15 19:41:14+00:00,"But also, I’m a data analyst for a tech compan...","But also, I’m a data analyst for a tech compan...",1614709311980068864,"{'username': 'TrevorTravels', 'id': 2293578750...",1,0,0,...,197.0,NaN,Austin,United States,2293578750,TrevorTravels,2014-01-16 00:25:52+00:00,7548,457,7108
1,2,https://twitter.com/KinaryMagic/status/1510261...,2022-04-02 14:24:27+00:00,Wait? Is he talking about natural immunity? Wh...,Wait? Is he talking about natural immunity? Wh...,1510261884322209794,"{'username': 'KinaryMagic', 'id': 2747865534, ...",0,0,0,...,NaN,NaN,Pflugerville,United States,2747865534,KinaryMagic,2014-08-20 03:10:35+00:00,149,267,4501
2,0,https://twitter.com/RhondaMcMahon24/status/150...,2022-03-14 18:28:51+00:00,@BeTrueVoteBlue1 No thanks. @pfizer lost a leg...,@BeTrueVoteBlue1 No thanks. @pfizer lost a leg...,1503438023182196737,"{'username': 'RhondaMcMahon24', 'id': 13086665...",1,0,0,...,NaN,NaN,Austin,United States,1308666560,RhondaMcMahon24,2013-03-27 21:24:34+00:00,1640,3112,7226
3,1,https://twitter.com/RhondaMcMahon24/status/150...,2022-03-14 16:13:32+00:00,No thanks. @pfizer lost a legal challenge and ...,No thanks. @pfizer lost a legal challenge and ...,1503403968612999174,"{'username': 'RhondaMcMahon24', 'id': 13086665...",0,1,1,...,NaN,NaN,Austin,United States,1308666560,RhondaMcMahon24,2013-03-27 21:24:34+00:00,1640,3112,7226
4,0,https://twitter.com/jasonablack/status/1622946...,2023-02-07 13:12:13+00:00,Worth 3 min to listen to unfiltered testimony ...,Worth 3 min to listen to unfiltered testimony ...,1622946333140164614,"{'username': 'jasonablack', 'id': 22079698, 'd...",0,0,0,...,224.0,NaN,Austin,United States,22079698,jasonablack,2009-02-26 23:34:48+00:00,1442,481,12684

In [ ]:
# Check columns
df_concat.columns

Index(['Unnamed: 0', 'url', 'date', 'rawContent', 'renderedContent', 'id',
       'user', 'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'links',
       'media', 'retweetedTweet', 'quotedTweet', 'inReplyToTweetId',
       'inReplyToUser', 'mentionedUsers', 'coordinates', 'place', 'hashtags',
       'cashtags', 'card', 'viewCount', 'vibe', 'GeoCityProvince',
       'GeoCountry', 'AuthorID', 'UserName', 'CreatedAccountAt',
       'FollowerCount', 'FollowingCount', 'TweetCount'],
      dtype='object')

In [ ]:
# Renaming the columns
df_rename = df_concat.rename(columns={'date':'CreateDate', 'rawContent':'TweetText', 'id':'TweetID','retweetCount':'RetweetCount',
                         'replyCount':'ReplyCount', 'likeCount':'LikeCount', 'hashtags':'Hashtags'})

df_rename.head()

,Unnamed: 0,url,CreateDate,TweetText,renderedContent,TweetID,user,ReplyCount,RetweetCount,LikeCount,...,viewCount,vibe,GeoCityProvince,GeoCountry,AuthorID,UserName,CreatedAccountAt,FollowerCount,FollowingCount,TweetCount
0,1,https://twitter.com/TrevorTravels/status/16147...,2023-01-15 19:41:14+00:00,"But also, I’m a data analyst for a tech compan...","But also, I’m a data analyst for a tech compan...",1614709311980068864,"{'username': 'TrevorTravels', 'id': 2293578750...",1,0,0,...,197.0,NaN,Austin,United States,2293578750,TrevorTravels,2014-01-16 00:25:52+00:00,7548,457,7108
1,2,https://twitter.com/KinaryMagic/status/1510261...,2022-04-02 14:24:27+00:00,Wait? Is he talking about natural immunity? Wh...,Wait? Is he talking about natural immunity? Wh...,1510261884322209794,"{'username': 'KinaryMagic', 'id': 2747865534, ...",0,0,0,...,NaN,NaN,Pflugerville,United States,2747865534,KinaryMagic,2014-08-20 03:10:35+00:00,149,267,4501
2,0,https://twitter.com/RhondaMcMahon24/status/150...,2022-03-14 18:28:51+00:00,@BeTrueVoteBlue1 No thanks. @pfizer lost a leg...,@BeTrueVoteBlue1 No thanks. @pfizer lost a leg...,1503438023182196737,"{'username': 'RhondaMcMahon24', 'id': 13086665...",1,0,0,...,NaN,NaN,Austin,United States,1308666560,RhondaMcMahon24,2013-03-27 21:24:34+00:00,1640,3112,7226
3,1,https://twitter.com/RhondaMcMahon24/status/150...,2022-03-14 16:13:32+00:00,No thanks. @pfizer lost a legal challenge and ...,No thanks. @pfizer lost a legal challenge and ...,1503403968612999174,"{'username': 'RhondaMcMahon24', 'id': 13086665...",0,1,1,...,NaN,NaN,Austin,United States,1308666560,RhondaMcMahon24,2013-03-27 21:24:34+00:00,1640,3112,7226
4,0,https://twitter.com/jasonablack/status/1622946...,2023-02-07 13:12:13+00:00,Worth 3 min to listen to unfiltered testimony ...,Worth 3 min to listen to unfiltered testimony ...,1622946333140164614,"{'username': 'jasonablack', 'id': 22079698, 'd...",0,0,0,...,224.0,NaN,Austin,United States,22079698,jasonablack,2009-02-26 23:34:48+00:00,1442,481,12684

In [ ]:
df_rename.columns

Index(['Unnamed: 0', 'url', 'CreateDate', 'TweetText', 'renderedContent',
       'TweetID', 'user', 'ReplyCount', 'RetweetCount', 'LikeCount',
       'quoteCount', 'conversationId', 'lang', 'source', 'sourceUrl',
       'sourceLabel', 'links', 'media', 'retweetedTweet', 'quotedTweet',
       'inReplyToTweetId', 'inReplyToUser', 'mentionedUsers', 'coordinates',
       'place', 'Hashtags', 'cashtags', 'card', 'viewCount', 'vibe',
       'GeoCityProvince', 'GeoCountry', 'AuthorID', 'UserName',
       'CreatedAccountAt', 'FollowerCount', 'FollowingCount', 'TweetCount'],
      dtype='object')

In [ ]:
# Remove unwanted columns

df_drop = df_rename.drop(['Unnamed: 0', 'url','user','renderedContent','quoteCount','conversationId','source','sourceUrl',
                          'sourceLabel','links','media','retweetedTweet','quotedTweet','inReplyToTweetId',
                         'inReplyToUser','mentionedUsers','coordinates','cashtags','card','place','viewCount','vibe'],axis=1)

In [ ]:
df_drop.head()

,CreateDate,TweetText,TweetID,ReplyCount,RetweetCount,LikeCount,lang,Hashtags,GeoCityProvince,GeoCountry,AuthorID,UserName,CreatedAccountAt,FollowerCount,FollowingCount,TweetCount
0,2023-01-15 19:41:14+00:00,"But also, I’m a data analyst for a tech compan...",1614709311980068864,1,0,0,en,"['TrumpTaxReturns', 'CovidIsntOver', 'Vaccines...",Austin,United States,2293578750,TrevorTravels,2014-01-16 00:25:52+00:00,7548,457,7108
1,2022-04-02 14:24:27+00:00,Wait? Is he talking about natural immunity? Wh...,1510261884322209794,0,0,0,en,"['COVID19', 'COVIDIOTS', 'VaccinesWork', 'grea...",Pflugerville,United States,2747865534,KinaryMagic,2014-08-20 03:10:35+00:00,149,267,4501
2,2022-03-14 18:28:51+00:00,@BeTrueVoteBlue1 No thanks. @pfizer lost a leg...,1503438023182196737,1,0,0,en,"['Pfizer', 'CovidVaccination', 'CovidVaccine']",Austin,United States,1308666560,RhondaMcMahon24,2013-03-27 21:24:34+00:00,1640,3112,7226
3,2022-03-14 16:13:32+00:00,No thanks. @pfizer lost a legal challenge and ...,1503403968612999174,0,1,1,en,"['Pfizer', 'CovidVaccination', 'CovidVaccine']",Austin,United States,1308666560,RhondaMcMahon24,2013-03-27 21:24:34+00:00,1640,3112,7226
4,2023-02-07 13:12:13+00:00,Worth 3 min to listen to unfiltered testimony ...,1622946333140164614,0,0,0,en,"['CovidVaccines', 'PfizerExposed']",Austin,United States,22079698,jasonablack,2009-02-26 23:34:48+00:00,1442,481,12684

#### Filter tweets for English language

In [ ]:
# Let's find how many tweets are in English
df_en = df_drop[df_drop['lang']=='en']
df_en = df_en.reset_index(drop=True)
df_en.head()

,CreateDate,TweetText,TweetID,ReplyCount,RetweetCount,LikeCount,lang,Hashtags,GeoCityProvince,GeoCountry,AuthorID,UserName,CreatedAccountAt,FollowerCount,FollowingCount,TweetCount
0,2023-01-15 19:41:14+00:00,"But also, I’m a data analyst for a tech compan...",1614709311980068864,1,0,0,en,"['TrumpTaxReturns', 'CovidIsntOver', 'Vaccines...",Austin,United States,2293578750,TrevorTravels,2014-01-16 00:25:52+00:00,7548,457,7108
1,2022-04-02 14:24:27+00:00,Wait? Is he talking about natural immunity? Wh...,1510261884322209794,0,0,0,en,"['COVID19', 'COVIDIOTS', 'VaccinesWork', 'grea...",Pflugerville,United States,2747865534,KinaryMagic,2014-08-20 03:10:35+00:00,149,267,4501
2,2022-03-14 18:28:51+00:00,@BeTrueVoteBlue1 No thanks. @pfizer lost a leg...,1503438023182196737,1,0,0,en,"['Pfizer', 'CovidVaccination', 'CovidVaccine']",Austin,United States,1308666560,RhondaMcMahon24,2013-03-27 21:24:34+00:00,1640,3112,7226
3,2022-03-14 16:13:32+00:00,No thanks. @pfizer lost a legal challenge and ...,1503403968612999174,0,1,1,en,"['Pfizer', 'CovidVaccination', 'CovidVaccine']",Austin,United States,1308666560,RhondaMcMahon24,2013-03-27 21:24:34+00:00,1640,3112,7226
4,2023-02-07 13:12:13+00:00,Worth 3 min to listen to unfiltered testimony ...,1622946333140164614,0,0,0,en,"['CovidVaccines', 'PfizerExposed']",Austin,United States,22079698,jasonablack,2009-02-26 23:34:48+00:00,1442,481,12684

In [ ]:
print('There are {} tweets in English in our dataset.'.format(df_en.shape[0]))

There are 7236 tweets in English in our dataset.

In [ ]:
# Save the extracted english tweets data in csv
df_en.to_csv('/content/drive/MyDrive/Lilly Paru/tweets_extracted_15km.csv', index=False)

In [ ]:
# Loading the data from csv file
tweets_df = pd.read_csv('/content/drive/MyDrive/Lilly Paru/tweets_extracted_15km.csv')

In [ ]:
tweets_df.head()

,CreateDate,TweetText,TweetID,ReplyCount,RetweetCount,LikeCount,lang,Hashtags,GeoCityProvince,GeoCountry,AuthorID,UserName,CreatedAccountAt,FollowerCount,FollowingCount,TweetCount
0,2023-01-15 19:41:14+00:00,"But also, I’m a data analyst for a tech compan...",1614709311980068864,1,0,0,en,"['TrumpTaxReturns', 'CovidIsntOver', 'Vaccines...",Austin,United States,2293578750,TrevorTravels,2014-01-16 00:25:52+00:00,7548,457,7108
1,2022-04-02 14:24:27+00:00,Wait? Is he talking about natural immunity? Wh...,1510261884322209794,0,0,0,en,"['COVID19', 'COVIDIOTS', 'VaccinesWork', 'grea...",Pflugerville,United States,2747865534,KinaryMagic,2014-08-20 03:10:35+00:00,149,267,4501
2,2022-03-14 18:28:51+00:00,@BeTrueVoteBlue1 No thanks. @pfizer lost a leg...,1503438023182196737,1,0,0,en,"['Pfizer', 'CovidVaccination', 'CovidVaccine']",Austin,United States,1308666560,RhondaMcMahon24,2013-03-27 21:24:34+00:00,1640,3112,7226
3,2022-03-14 16:13:32+00:00,No thanks. @pfizer lost a legal challenge and ...,1503403968612999174,0,1,1,en,"['Pfizer', 'CovidVaccination', 'CovidVaccine']",Austin,United States,1308666560,RhondaMcMahon24,2013-03-27 21:24:34+00:00,1640,3112,7226
4,2023-02-07 13:12:13+00:00,Worth 3 min to listen to unfiltered testimony ...,1622946333140164614,0,0,0,en,"['CovidVaccines', 'PfizerExposed']",Austin,United States,22079698,jasonablack,2009-02-26 23:34:48+00:00,1442,481,12684

In [ ]:
tweets_df['GeoCityProvince'].nunique()

875